:root {
        --primary-color: white;
        --secondary-color: black;
        --decoration-color: grey;
        --font-heading: 'Playfair Display', serif;
        --font-body: 'inter', sans-serif;
    }

    /*ResetCss*/

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        overflow-x: hidden;
        overflow-y: hidden;
    }