/*home*/

/*primaryButton*/
.primary-button button {
        font-family: var(--font-body);
        width: 190px;
        height: 60px;
        border-radius: 20px;
        font-family: var(--font-body);
        font-weight: 520;
        font-size: 16px;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 235, 80);
        border: 1px solid rgb(255, 235, 80);
    }

/*secondaryButton*/
.secondary-button button {
        font-family: var(--font-body);
        width: 190px;
        height: 60px;
        border-radius: 20px;
        font-family: var(--font-body);
        font-weight: 520;
        font-size: 16px;
        background-color: rgba(218, 165, 32, 0);
        color: rgb(255, 255, 255);
        border: 1px solid rgb(255, 255, 255);
    }