/*Home*/

h1 {
        font-size: 60px;
        font-family: 'Segoe UI', sans-serif;
        padding-bottom: 10px;
    }

    p {
        padding-bottom: 30px;
        font-size: 20px;
    }

/*About*/

.about-title-box {
    width: 50%;
    background-color: rgba(240, 248, 255, 0);
    border-right: 1px solid #dedede;
    text-align: center;
}

.about-paragraph-box {
    width: 50%;
    background-color: rgba(240, 248, 255, 0);
}

.about-tittle {
    font-size: 46px;
    margin: 20px;
    color: #dedede;
}

.about-paragraph {
    font-size: 16px;
    font-family: 'Segoe UI', sans-serif;
    margin: 20px;
    color: #dedede;
}

.about-buble-container {
    margin: 20px;
    width: 95%;
    color: #dedede;
    background-color: rgba(250, 235, 215, 0);
}

.about-buble-content {
    display: flex;
    justify-content: space-between;
    margin: 13px;
}

.buble {
    width: 24%;
    background: rgba(32, 30, 30, 0.566); /* transparan */
    backdrop-filter: blur(10px);          /* efek blur */
    -webkit-backdrop-filter: blur(10px);  /* support Safari */
    border-radius: 50px;
    border-radius: 20px;
}

.buble-title {
    display: flex;
    gap: 5px;
    font-family: 'Segoe UI', sans-serif;
    margin: 10px;
}

.buble-paragraph p {
    font-family: 'Segoe UI', sans-serif;
    font-size: 17px;
    margin: 10px;
}

img {
    width: 25px;
    
}

/*Display*/

.law-container, .food-container, .social-container {
    width: 100%;
    background-color: rgba(245, 245, 220, 0);
    margin-bottom: 20px;
    display: flex;
}

.law-tittle, .food-tittle, .social-tittle {
    width: 50%;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.law-tittle h1, .food-tittle h1, .social-tittle h1 {
    width: 80%;
    font-size: 26px;
    font-family: 'Segoe UI', sans-serif;
    margin: 20px;
    color: #b5b5b5;
}

.law-paragraph, .food-paragraph, .social-paragraph {
    width: 50%;
    background-color: rgba(102, 51, 153, 0);
    display: flex;
    justify-content: center;
}

.law-paragraph p, .food-paragraph p, .social-paragraph p {
    width: 80%;
    font-size: 17px;
    font-family: 'Segoe UI', sans-serif;
    margin: 20px;
    color: #b5b5b5;
}

