/*home*/


/*primaryHover*/
.primary-button button:hover {
        background: linear-gradient(to bottom right, #ffffff, #68b1ff);
        transition: all 1.3s ease;
    }

/*secondaryHover*/
.secondary-button button:hover {
        background: linear-gradient(to bottom right, #ffffff, #68b1ff);
        transition: all 0.5s ease;
    }

/*IndexResponsive*/
 /* Tablet */
    @media (max-width: 1424px) {
        .about-content {
            display: flex;
            flex-direction: column;
        }
        .about-paragraph-box {
            width: 100%;
        }
        .about-paragraph {
            margin-bottom: 10px;
        }
        .about-content {
            height: auto;
        }
        .about-hero {
            height: auto;
        }
    }

    /*mobile*/
    @media (max-width: 765px) {
    }

    /* Small Mobile */
    @media (max-width: 480px) {
    }