/*home*/


/*primaryHover*/
.primary-button button:hover {
        background: linear-gradient(to bottom right, #ffffff, #68b1ff);
        transition: all 1.3s ease;
    }

/*secondaryHover*/
.secondary-button button:hover {
        background: linear-gradient(to bottom right, #ffffff, #68b1ff);
        transition: all 0.5s ease;
    }

/*IndexResponsive*/
 /* Tablet */
    @media (max-width: 1424px) {
        .about-content {
            display: flex;
            flex-direction: column;
        }
        .about-paragraph-box {
            width: 100%;
        }
        .about-paragraph {
            margin-bottom: 10px;
        }
        .about-content {
            height: auto;
        }
        .about-hero {
            height: auto;
        }
        .about-title-box {
            border: none;
        }
    }

    /*mobile*/
    @media (max-width: 1000px) {
        .about-buble-content {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
        .buble-title {
            background-color: rgba(250, 235, 215, 0);
        }
        .about-title-box {
            width: 70%;
            border: none;
        }
    }

    /* Small Mobile */
    @media (max-width: 560px) {
        .nav-content a {
            font-size: 11px;
        }
        .nav-content {
            gap: 10px;
        }
        .home-content h1 {
            font-size: 30px;
        }
        .home-content p {
            font-size: 11px;
        }
        .about-title-box h1 {
            font-size: 30px;
        }
        .about-tittle {
            margin-bottom: 0px;
        }
        .law-container, .food-container, .social-container {
            display: flex;
            flex-direction: column;
        }
        .law-tittle, .food-tittle, .social-tittle {
            width: 100%;
        }
        .law-paragraph, .food-paragraph, .social-paragraph {
            width: 100%;
        }
        .footer-content {
            display: flex;
            flex-direction: column;
        }
    }

    /*Display*/

    .img-display a:hover {
        color: white;
        background-color: rgb(10, 62, 10);
    }

    .social-text a:hover {
        background-color: #ffffff;
        color: rgb(10, 62, 10);
    }

    /*Responsive*/
    @media (min-width: 1000px) {
        .news-photo {
            min-width: 350px;
            height: 200px;
            margin-left: 30px;
        }
    }

    @media (max-width: 1000px){
        .img-display h1 {
            font-size: 36px;
            margin-bottom: 0;
            padding-bottom: 0;
            margin-top: 40px;
        }
        .img-display a {
            padding: 15px 25px;
            text-align: center;
            margin-bottom: 40px;
        }
        .img-display {
            height: auto;
            padding-left: 10%;
        }
        .news-photo {
            width: 300px;
            height: 160px;
            margin-left: 30px;
        }
        .news-card {
            display: flex;
            flex-direction: column;
        }
        .social-paragraph-content h1 {
            font-size: 28px;
        }
        .social-paragraph-content p {
            font-size: 17px;
        }
        .paragraph-buble-card h3 {
            font-size: 16px;
        }
        .news-paragraph p {
            font-size: 10px;
        }
    }

    @media (max-width: 560px) {
        .social-text h1 {
            font-size: 26px;
        }
        .img-display h1 {
            font-size: 26px;
            margin-bottom: 0;
            padding-bottom: 0;
            margin-top: 40px;
        }
        .img-display a {
            padding: 15px 25px;
            text-align: center;
            margin-bottom: 40px;
        }
        .img-display {
            height: auto;
            padding-left: 10%;
        }
        .social-paragraph-content h1 {
            font-size: 28px;
        }
        .social-paragraph-content p {
            font-size: 17px;
        }
        .paragraph-buble-card h3 {
            font-size: 16px;
        }
        .paragraph-buble-card-last p {
            font-size: 16px;
        }
        .news-paragraph p {
            font-size: 10px;
        }
        .news-paragraph h3 {
            font-size: 17px;
        }
    }