
/* HOME */

    .home-primary-btn:hover {
        background-color: rgba(255, 255, 255, 0);
    color: goldenrod;
    border: 1.5px solid goldenrod;
    }

    .home-secondary-btn:hover {
        background-color: rgb(255, 201, 64);
    color: black;
    border: 1.5px solid black;
    }

    /* Responsive */

    @media (max-width: 560px) {
        .nav-content {
            gap: 1rem;
        }
        .home-hero-heading {
            font-size: 36px;
        }
        .home-hero-paragraph {
            font-size: 15px;
            margin: 10 20px;
        }
        .home-primary-btn, .home-secondary-btn {
            font-size: 13px;
        }
        .copy-paragraph {
            font-size: 13px;
        }
    }

/* SERVICES */
    /* Responsive */
        /* HP */
    @media (max-width: 480px) {
        .service-content {
            flex-direction: column-reverse;
            justify-content: center;
        }
        .service-content-img {
            margin: 0;
            margin-top: 200px;
        }
        .service-content-text {
            width: 90%;
            margin: 0;
        }
        .service-content-text h1 {
            font-size: 27px;
        }
        .service-content-text p {
            font-size: 13px;
        }
        .service-icons {
            width: 300px;
            height: 300px;
        }
    }
        /* HP BESAR */
    @media (min-width: 480px) and (max-width: 768px) {
        .service-hero, .service-container {
            height: auto;
        }
        .service-content {
            flex-direction: column-reverse;
            justify-content: start;
        }
        .service-content-img {
            margin-top: 100px;
            margin-bottom: 0;
        }
        .service-content-text {
            width: 90%;
            margin: 0;
        }
        .service-content-text h1 {
            font-size: 27px;
        }
        .service-content-text p {
            font-size: 13px;
        }
        .service-icons {
            width: 450px;
            height: 450px;
        }
    }   
        /* TAB */
    @media (min-width:768px) and (max-width: 992px) {
        .service-hero, .service-container {
            height: auto;
        }
        .service-content {
            flex-direction: column-reverse;
            justify-content: start;
            background-color: rgba(137, 43, 226, 0);
        }
        .service-content-img {
            margin-top: 100px;
            margin-bottom: 0;
        }
        .service-content-text {
            width: 90%;
            margin: 0;
            margin-bottom: 100px;
        }
    }
        /* LAPTOP */
    @media (min-width:992px) and (max-width: 1200px) {
        .service-hero, .service-container {
            height: auto;
        }
        .service-content {
            margin-top: 80px;
            background-color: rgba(137, 43, 226, 0);
        }
        .service-content-img {
            margin: 50px 50px 50px;
        }
        .service-content-text {
            width: 90%;
            margin-right: 0;
        }
        .service-content-text h1 {
            font-size: 27px;
        }
        .service-content-text p {
            font-size: 13px;
        }
        .service-icons {
            width: 300px;
            height: 300px;
        }
    }
        /* LAPTOP BESAR */
    @media (min-width:1200px) {
        .service-content-img {
            margin: 50px 100px 50px;
        }
        .service-content-text {
            width: 90%;
            margin-right: 0;
            margin-left: 100px;
        }
    }



/* SERVICE LAW */

    .service-law-btn:hover {
        background-color: rgba(255, 255, 255, 0);
    color: rgb(82, 170, 252);
    border: 1.5px solid rgb(82, 170, 252);
    }
    /* Responsive */
        /* HP */
    @media (max-width: 480px) {
        .service-law-content {
            flex-direction: column;
            justify-content: center;
        }
        .service-law-img {
            margin-top: 300px;
            margin-bottom: 0;
        }
        .service-law-text {
            width: 90%;
            margin: 0;
        }
        .service-law-text h1 {
            font-size: 22px;
        }
        .service-law-text p {
            font-size: 13px;
        }
        .service-law-icons {
            width: 300px;
            height: 300px;
        }
    }
        /* HP BESAR */
    @media (min-width: 480px) and (max-width: 768px) {
        .service-law-hero, .service-law-container {
            height: auto;
        }
        .service-law-content {
            flex-direction: column;
            justify-content: start;
        }
        .service-law-content-img {
            margin-top: 100px;
            margin-bottom: 0;
        }
        .service-law-text {
            width: 90%;
            margin: 0;
        }
        .service-law-text h1 {
            font-size: 27px;
        }
        .service-law-text p {
            font-size: 13px;
        }
        .service-law-icons {
            width: 450px;
            height: 450px;
        }
    }
        /* TAB */
    @media (min-width:768px) and (max-width: 992px) {
        .service-law-hero, .service-law-container {
            height: auto;
        }
        .service-law-content {
            flex-direction: column;
            justify-content: start;
            background-color: rgba(137, 43, 226, 0);
        }
        .service-law-img {
            margin: 0;
        }
        .service-law-text {
            width: 90%;
            margin: 0;
            margin-bottom: 100px;
        }
    }
        /* LAPTOP */
    @media (min-width:992px) and (max-width: 1200px) {
        .service-law-hero, .service-law-container {
            height: auto;
        }
        .service-law-content {
            margin-top: 80px;
        }
        .service-law-content-img {
            margin: 50px 50px 50px;
        }
        .service-law-text {
            width: 90%;
            margin-right: 0;
        }
        .service-law-text h1 {
            font-size: 27px;
        }
        .service-law-text p {
            font-size: 13px;
        }
        .service-law-icons {
            width: 300px;
            height: 300px;
        }
    }
        /* LAPTOP BESAR */
    @media (min-width:1200px) {
        .service-law-img {
            margin: 50px 100px 50px;
        }
        .service-law-text {
            width: 90%;
            margin-right: 50px;
            margin-left: 100px;
        }
    }



/* SERVICE CAFE */

    .service-cafe-btn:hover {
        background-color: rgba(255, 255, 255, 0);
    color: rgb(82, 170, 252);
    border: 1.5px solid rgb(82, 170, 252);
    }

    /* Responsive */
        /* HP */
    @media (max-width: 480px) {
        .service-cafe-hero {
            height: auto;
        }
        .service-cafe-content {
            flex-direction: column-reverse;
            justify-content: center;
        }
        .service-cafe-img {
            margin-top: 200px;
        }
        .service-cafe-text {
            width: 90%;
            margin: 0;
        }
        .service-cafe-text h1 {
            font-size: 23px;
        }
        .service-cafe-text p {
            font-size: 13px;
            margin-top: 0;
        }
        .service-cafe-icons {
            width: 300px;
            height: 300px;
        }
    }
        /* HP BESAR */
    @media (min-width: 480px) and (max-width: 768px) {
        .service-cafe-hero, .service-cafe-container {
            height: auto;
        }
        .service-cafe-content {
            flex-direction: column-reverse;
            justify-content: start;
        }
        .service-cafe-content-img {
            margin-top: 100px;
            margin-bottom: 0;
        }
        .service-cafe-text {
            width: 90%;
            margin: 0;
        }
        .service-cafe-text h1 {
            font-size: 27px;
        }
        .service-cafe-text p {
            font-size: 13px;
        }
        .service-cafe-icons {
            width: 450px;
            height: 450px;
        }
    }
        /* TAB */
    @media (min-width:768px) and (max-width: 992px) {
        .service-cafe-hero, .service-cafe-container {
            height: auto;
        }
        .service-cafe-content {
            flex-direction: column-reverse;
            justify-content: start;
            background-color: rgba(137, 43, 226, 0);
        }
        .service-cafe-text {
            width: 90%;
            margin: 0;
            margin-bottom: 100px;
        }
    }
        /* LAPTOP */
    @media (min-width:992px) and (max-width: 1200px) {
        .service-cafe-hero, .service-cafe-container {
            height: auto;
        }
        .service-cafe-content {
            margin-top: 80px;
        }
        .service-cafe-content-img {
            margin: 50px 50px 50px;
        }
        .service-cafe-text {
            width: 90%;
            margin-right: 0;
        }
        .service-cafe-text h1 {
            font-size: 27px;
        }
        .service-cafe-text p {
            font-size: 13px;
        }
        .service-cafe-icons {
            width: 300px;
            height: 300px;
        }
    }
        /* LAPTOP BESAR */
    @media (min-width:1200px) {
        .service-cafe-img {
            margin: 50px 100px 50px;
        }
        .service-cafe-text {
            width: 90%;
            margin-right: 0;
            margin-left: 100px;
        }
    }







/* ABOUT */

    


/*Display*/

    .img-display a:hover {
        color: white;
        background-color: rgb(10, 62, 10);
    }

    .social-text a:hover {
        background-color: #ffffff;
        color: rgb(10, 62, 10);
    }

    /*Responsive*/
    @media (min-width: 1000px) {
        .news-photo {
            min-width: 350px;
            height: 200px;
            margin-left: 30px;
        }
    }

    @media (max-width: 1000px){
        .img-display h1 {
            font-size: 36px;
            margin-bottom: 0;
            padding-bottom: 0;
            margin-top: 40px;
        }
        .img-display a {
            padding: 15px 25px;
            text-align: center;
            margin-bottom: 40px;
        }
        .img-display {
            height: auto;
            padding-left: 10%;
        }
        .news-photo {
            width: 300px;
            height: 160px;
            margin-left: 30px;
        }
        .news-card {
            display: flex;
            flex-direction: column;
        }
        .social-paragraph-content h1 {
            font-size: 28px;
        }
        .social-paragraph-content p {
            font-size: 17px;
        }
        .paragraph-buble-card h3 {
            font-size: 16px;
        }
        .news-paragraph p {
            font-size: 10px;
        }
    }

    @media (max-width: 560px) {
        .social-text h1 {
            font-size: 26px;
        }
        .img-display h1 {
            font-size: 26px;
            margin-bottom: 0;
            padding-bottom: 0;
            margin-top: 40px;
        }
        .img-display a {
            padding: 15px 25px;
            text-align: center;
            margin-bottom: 40px;
        }
        .img-display {
            height: auto;
            padding-left: 10%;
        }
        .social-paragraph-content h1 {
            font-size: 28px;
        }
        .social-paragraph-content p {
            font-size: 17px;
        }
        .paragraph-buble-card h3 {
            font-size: 16px;
        }
        .paragraph-buble-card-last p {
            font-size: 16px;
        }
        .news-paragraph p {
            font-size: 10px;
        }
        .news-paragraph h3 {
            font-size: 17px;
        }
    }