/*home*/


/*primaryHover*/
.primary-button button:hover {
        background: linear-gradient(to bottom right, #ffffff, #68b1ff);
        transition: all 1.3s ease;
    }

/*secondaryHover*/
.secondary-button button:hover {
        background: linear-gradient(to bottom right, #ffffff, #68b1ff);
        transition: all 0.5s ease;
    }

/*homeResponsive*/
 /* Tablet */
    @media (max-width: 1024px) {
    }

    /*mobile*/
    @media (max-width: 765px) {
    }

    /* Small Mobile */
    @media (max-width: 480px) {
    }