
/* HOME */

.home-hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-container {
    width: 100%;
    height: 100%;
    margin: 30px;
    background-color: #68b1ff00;
}

.home-content {
    background-color: #efe4d600;
}

/* SERVICE */

.service-hero {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-container {
    width: 100%;
    height: 100%;
    background-color: #68b1ff00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-content {
    width: 100%;
    height: 100%;
    background-color: #b5b5b500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* SERVICE LAW */

.service-law-hero {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-law-container {
    width: 100%;
    height: 100%;
    background-color: #68b1ff00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-law-content {
    width: 100%;
    height: 100%;
    background-color: #b5b5b500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* SERVICE CAFE */

.service-cafe-hero {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-cafe-container {
    width: 100%;
    height: 100%;
    background-color: #68b1ff00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-cafe-content {
    width: 100%;
    height: 100%;
    background-color: #b5b5b500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/*About*/

.about-hero {
    height: 100vh;
    background: linear-gradient(to bottom right, #ffffff, #68b1ff);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #6d6d6d;
}

.about-container {
    width: 95%;
    height: 60%;
    margin-top: 100px;
    color: white;
    background: rgba(32, 30, 30, 0.566); /* transparan */
    backdrop-filter: blur(10px);          /* efek blur */
    -webkit-backdrop-filter: blur(10px);  /* support Safari */
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content {
    width: 95%;
    height: 95%;
    background-color: rgba(240, 248, 255, 0);
    display: flex;
}


/*Display*/

.display-hero {
    height: auto;
    background-color: #03070d;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #6d6d6d;
}

.display-container {
    width: 95%;
    height: auto;
    margin-top: 100px;
    background-color: #16181b00;
}

.disclaimer {
    width: 70%;
    background-color: rgba(127, 255, 212, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    border-left: 1px solid #6d6d6d;
}

.contact-group {
    display: flex;
    align-items: center;
    width: 50%;
    background-color: rgba(255, 228, 196, 0);
    margin: 10px 20px;
}

/*Social Service*/

.social-hero {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-hero .social-container {
    width: 100%;
    height: auto;
    background: linear-gradient(135deg, #f5ede3, #efe4d6);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-content {
    width: 95%;
    height: auto;
    background-color: #68b1ff00;
    margin-top: 200px;
    margin-bottom: 200px;
    font-family: 'Segoe UI', sans-serif;
}

/*Social Display*/
.social-display-hero {
    width: 100%;
    height: auto;
    background-color: #f82d2d00;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-display-container {
    width: 95%;
    height: auto;
    background-color: maroon;
}

/*Testimoni*/
.testi-container {
    width: 100%;
    background-color: #68b1ff00;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #b5b5b5;
    padding-bottom: 50px;
}

/*Social Paragraph*/
.social-paragraph-hero {
    width: 100%;
    height: auto;
    background: linear-gradient(135deg, #f5ede3, #efe4d6);;
    display: flex;
    flex-direction: column;
align-items: center;
}

.social-paragraph-container {
    width: 95%;
    height: auto;
    margin: 50px 0;
    background-color: rgba(128, 0, 0, 0);
}

/*News*/
.news-hero {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.news-container {
    width: 95%;
    height: auto;
    background-color: #68b1ff00;
}

.news-content {
    background-color: rgba(128, 0, 0, 0);
    padding-bottom: 50px;
}




