/*Home*/

.home-hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:
    linear-gradient(to bottom, rgba(0,40,80,0.6), rgba(0,0,0,0.6)),
    url("/img/skybg.png") center/cover no-repeat;
    transition: transform 0.5s ease;
    z-index: -1;
}

.home-content {
    height: 50%;
    background-color: rgba(255, 228, 196, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    z-index: 1;
}

/*Hbout*/

.about-hero {
    height: 100vh;
    background: linear-gradient(to bottom right, #ffffff, #68b1ff);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #6d6d6d;
}

.about-container {
    width: 95%;
    height: 60%;
    margin-top: 100px;
    color: white;
    background: rgba(32, 30, 30, 0.566); /* transparan */
    backdrop-filter: blur(10px);          /* efek blur */
    -webkit-backdrop-filter: blur(10px);  /* support Safari */
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content {
    width: 95%;
    height: 95%;
    background-color: rgba(240, 248, 255, 0);
    display: flex;
}


/*Display*/

.display-hero {
    height: auto;
    background-color: #03070d;
    display: flex;
    justify-content: center;
}

.display-container {
    width: 95%;
    height: auto;
    margin-top: 100px;
    background-color: #16181b00;
}

