/*navbar*/

    .cv-logo {
        width: 60px;
        height: 60px;
    }

    .nav-hero {
        position: fixed;
        top: 0;
        background-color: rgba(255, 255, 255, 0.068);
        color: white;
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 30px;
        backdrop-filter: blur(10px); /* blur konten di belakang navbar */
        -webkit-backdrop-filter: blur(10px);
    }

    .nav-primary:hover {
        border-bottom: 1.5px solid goldenrod;
        transition: all 0.9s ease;
    }

    .nav-content {
        list-style: none;
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    .nav-content a {
        text-decoration: none;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 14px;
        height: 10px;
        border-bottom: 2px solid rgba(218, 165, 32, 0);
    }

    .nav-content a:hover {
        border-bottom: 1.5px solid goldenrod;
        transition: all 0.6s ease;
    }
